/* CSS file - Standard Stylesheet */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace esri "http://www.esri.com/2008/ags";
@namespace viewer "com.esri.viewer.*";
@namespace viewerComps "com.esri.viewer.components.*";
@namespace apiComps "com.esri.ags.components.*";
@namespace TGISViewer "cn.seisys.TGISViewer.*";
@namespace components "cn.seisys.TGISViewer.components.*";

TGISViewer|WidgetTemplate
{
    skinClass: ClassReference("cn.seisys.TGISViewer.skins.WidgetTemplateSkin");
}

components|TitlebarButton
{
    skinClass: ClassReference("cn.seisys.TGISViewer.skins.TitlebarButtonSkin");
}

s|VScrollBar
{
    skinClass: ClassReference("cn.seisys.TGISViewer.skins.VScrollBarSkin");
}

s|HScrollBar
{
    skinClass: ClassReference("cn.seisys.TGISViewer.skins.HScrollBarSkin");
}

esri|PopUpRenderer
{
	skinClass: ClassReference("cn.seisys.TGISViewer.skins.PopUpRenderer.ClassicPopUpRendererSkinWithButtons");
}

.arrowInfoSymbolStyle
{
	backgroundAlpha: 0;
	borderThickness: 0;
}

esri|ContentNavigator
{
	headerBackgroundColor:green;

}

esri|InfoWindow  
{  
	border-thickness: 0;  
	content-background-alpha : 0;  
} 


.myTab{
	fontFamily:宋体;
	fontSize:13;
	fontWeight:bold;
	up-skin:ClassReference("cn.seisys.TGISViewer.skins.tabnavitor");
	down-skin:ClassReference("cn.seisys.TGISViewer.skins.tabnavitor");
	over-skin:ClassReference("cn.seisys.TGISViewer.skins.tabnavitor");
	disabled-skin:ClassReference("cn.seisys.TGISViewer.skins.tabnavitor");
	
	selected-up-skin:ClassReference("cn.seisys.TGISViewer.skins.selectedTabnavitor");
	selected-down-skin:ClassReference("cn.seisys.TGISViewer.skins.selectedTabnavitor");
	selected-over-skin:ClassReference("cn.seisys.TGISViewer.skins.selectedTabnavitor");
	selected-disabled-skin:ClassReference("cn.seisys.TGISViewer.skins.selectedTabnavitor");
	
}

.infoStyle
{
	borderThickness: 1;
	infoPlacement: upperRight;
	backgroundColor: #E9F2B9;
	paddingLeft: 2;
	paddingRight: 2;
	paddingTop: 2;
	paddingBottom: 2;
}
.infoStyleC
{
	borderThickness: 1;
	infoPlacement: upperRight;
	backgroundColor: #ff0000;
	paddingLeft: 2;
	paddingRight: 2;
	paddingTop: 2;
	paddingBottom: 2;
}


